body {
    text-align: center;
    background-color: chartreuse;
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: aliceblue;
    font-family: monospace;
    font-size: 25px;
}

img {
    width: 500px;
    height: 400px;
    border: solid;
}

h1 {
    font-variant: small-caps;
}
